<div class="container">
    <h2 class="section-title"><span class="number"></span> About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
          Hello! My name is Azwa and I enjoy creating things that live on the web. 
          My interest in web development started back in 2015 when I first explored computer science — experimenting with small projects taught me the basics of HTML and CSS, and I’ve been hooked ever since!
        </p>
        <p>
          Fast-forward to today — I’m building responsive web projects, working on my final year project, and creating accessible digital experiences for a variety of clients.
        </p>
        <p>
          Here are a few technologies I've been working with recently:
        </p>
        <ul class="skills-list">
          <li *ngFor="let skill of skills">{{ skill }}</li>
        </ul>
      </div>
      
    </div>
  </div>